/* Character list styles */
.character-list-item {
  display: flex;
  justify-content: space-between; /* name left, buttons right */
  align-items: center; /* vertically center items */
  padding: 4px 0;
}

.character-name {
  text-align: left;
  flex-grow: 1; /* takes available space */
}

.character-buttons button {
  margin-left: 8px; /* spacing between buttons */
}

.character-row {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #cccccc28;
}

.character-header {
  border-bottom: 1px solid #cccccc;
}

.character-col {
  padding-right: 1rem;
}

.character-col.name {
  width: 200px;
}

.character-col.hp {
  display: flex;
  width: 150px;
  align-items: center;
  gap: 0.5rem; /* adds space between the button and input/text */
}

.character-col.hp input {
  font-family: 'Pixellari', monospace;
}

.character-col.tags {
  flex: 1;
  min-width: 200px;
}

.character-col.buttons button {
  margin-right: 0.5rem;
} 